section{
    width: 1400kpx;
    background-color: rgb(233, 183, 90);
    margin: auto;
    height: 600px;
  }
  article{
    width: 100px;
    height: 100px;
    background-color: rgb(25, 85, 197);
    float: left;
    margin: 5px;
  }
  #photo{
    background-image: url("images/wonderwoman.jpg");
    width: 200px;
    height: 200px;
  }