section{
    width: 1400kpx;
    background-color: rgb(186, 219, 108);
    margin: auto;
    height: 600px;
  }
  article{
    width: 100px;
    height: 100px;
    background-color: rgb(231, 162, 188);
    float: left;
    margin: 5px;
  }
  #photo{
    background-image: url("images/wonderwoman.jpg");
    width: 200px;
    height: 200px;
  }