extends template 
    
block vars 
    - var title = "Home Page"
    - var company = "Valtech"

block body
    
        p welcome to the authorization and authentication page of valtech <br>
        a(href="/login") Login here
        br
        a(href="/register") new user 

