extends template 

block vars 
    - var title = "Login Page"
    - var company = "Valtech"

block body

     if error 
        p Error #{ error }
     h2 Login 
     form(method="post")
        div( class="mb-3")        
        label(for="email" class="form-label") eMail
            input(type="email"  class="form-control" name="email" required id="email")  
        div( class="mb-3")      
        label(for="password" class="form-label") Password
            input(type="password"  class="form-control" name="password" required id="password")  
        div( class="mb-3")
        input(type="submit" class="btn btn-primary" value="Login")         